In [23]:
class Person:
    company_name = "TechM"
    
    def __init__(self,firstname,lastname):
        self.first_name = firstname
        self.last_name = lastname
        
    @classmethod
    def change_company(cls,company_name):
        cls.company_name = company_name
        
    
    def display(self):
        print(f"First name : {self.first_name}, Last name: {self.last_name}, Company: {self.company_name}")

In [24]:
person1 = Person("vishvanathan","Kuppusamy")

In [25]:
person1.display()

First name : vishvanathan, Last name: Kuppusamy, Company: TechM

In [26]:
person2 = Person("Vis","kuppu")

In [27]:
person2.display()

First name : Vis, Last name: kuppu, Company: TechM

In [28]:
Person.change_company("PWSKILLS")

In [29]:
person1.display()
person2.display()

First name : vishvanathan, Last name: Kuppusamy, Company: PWSKILLS
First name : Vis, Last name: kuppu, Company: PWSKILLS

In [37]:
class Car:
    base_price = 10000
    
    def __init__(self,model,brand):
        self.model = model
        self.brand = brand
        
    def display_price(self):
        print("the price is ",self.base_price)
        
    @classmethod
    def update_base_price(cls,inflation):
        cls.base_price = cls.base_price + (cls.base_price * inflation/100)

In [38]:
car1 = Car("BMW XT",'BMW')

In [39]:
car1.display_price()

the price is  10000

In [40]:
Car.update_base_price(10)

In [41]:
car1.display_price()

the price is  11000.0

In [57]:
class BMW:
    base_price = 1000
    
    def __init__(self,model):
        self.model = model
        
    def total_price(self):
        if self.model == "EV":
            self.total_price = self.base_price + 100
        elif self.model == "Petrol":
            self.total_price = self.base_price + 200
        else:
            self.total_price = self.base_price + 1000
    
    def display(self):
        print(f" Model base price: {self.base_price}, total price : {self.total_price}")
    
    @classmethod
    def update_base_price(cls,inflation):
        cls.base_price += cls.base_price * inflation / 100
        
    @staticmethod
    def check_year(year):
        if year == 2023:
            return True
        else:
            return False

In [58]:
my_bmw1= BMW("EV")

In [59]:
my_bmw1.total_price()
my_bmw1.display()
BMW.check_year(2023)

 Model base price: 1000, total price : 1100

True

In [63]:
from dataclasses import dataclass
@dataclass
class Employee:
    first_name : str
    last_name : str

    def display(self):
        print(f'First name: {self.first_name}, Last_name: {self.last_name}')

In [64]:
emp1 = Employee("vishva","nathan")

In [65]:
emp1.display()

First name: vishva, Last_name: nathan