In [1]:
%config IPCompleter.greedy=True

In [2]:
#conditional statement
x = 2
if x > 0:
    print( "x is pastive number");print("hi")
else:
    print("x is negative number");print("hi")

x is pastive number
hi

Multi line statements: \ , (),[] , {}

In [3]:
s = 1+2+3+4+5 \
    +6+7+8+9+10
print(s)

55

In [4]:
s= (1+2+3+4+5
   +6+7+8+9+10)
print(s)

55

In [5]:
s=[1,2,3,4,5
  ,6,7,8,9,10]
print(s)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#read input from user
x = int(input("Please enter a number : "))
print(x)

In [ ]:
#if statment
if x > 0:
    print("X is postive number")

In [ ]:
#if else statement
if x > 0:
    print("X is +ve number")
else:
    print("X is -ve number")

In [ ]:
#if elif else statement
if x < 0:
    x = 0
    print("X is -ve and changed to zero")
elif x == 0:
    print( "X is zero")
elif x == 1:
    print("X is one")
else:
    print("X is more value")

In [ ]:
#for loop
y = [1,2,3,4,5,6,7,8]
for value in y:
    print(value)

In [ ]:
#for loop for string
name = "Vishvanathan Kuppusamy"
for char in name:
    print(char)

In [ ]:
#create sample collection
users = {'a':"active",'b':"inactive",'c':"active",
         'd':"inactive",'e':"active"}

active_users = {}
for user,value in users.copy().items():
    if value == "inactive":
        del users[user]
    
    if value == "active":
        active_users[user] = value
        
print(users)
print(active_users)

In [ ]:
#tuple
my_tuple = {1,2,3,4,5}
print(type(my_tuple),my_tuple)

In [ ]:
#create list using range
my_list = list(range(0,9))
print(my_list)

In [ ]:
#create list using range with step 3
my_list = list(range(0,9,3))
print(my_list)

In [ ]:
#create list using range with negative step
my_list = list(range(-10,-100,-2))
print(my_list)

In [ ]:
#create tuple using range with negative step
my_list = tuple(range(-100,-10,2))
print(my_list)

In [ ]:
my_list[0]= 100

In [ ]:
#
for i  in range(len(my_list)):
    print(i, my_list[i])

In [ ]:
#set
my_set = {}
print(type(my_set))

In [ ]:
my_set= set(my_list)
print(type(my_set))

In [ ]:
print(my_set)

In [ ]:
print(sum(range(0,200,5)))

In [ ]:
for n in range(2,10):
    for x in range(2,n):
        if n % x == 0:
            print(n,'equals', x, '*', n//x)
            break;
    else:
        print(n," is a prime number")

In [ ]:
#find even or odd number

while True:
    x = input("Enter whole number : ")
    if x != 'C'  x !='c':
        num = int(x)
    if num % 2 == 0:
        print("Found even number : ",num)
    elif x == 'c' or x == 'C':
        print("clsoing...")
        break
    else:
        print("Found odd number", num)

In [ ]:
ad ::= x
print(ad)

In [ ]:
#find prime number
i = -1
for i in range(2,2):
    print(i)
else:
    print("Else part : ", i)

In [ ]:
#find even and odd number
for num in range(0,20):
    if num % 2 == 0:
        print("Found an even number : ",num)
        continue
    print("Found an odd number : ", num)
else:
    print("Not able to find any number")

In [ ]:
while True:
    pass

In [ ]:
#match statement with class varaibales
class Point:
    x: int
    y: int
        
    def __init__(self):
        self.x = 0
        self.y = 0
    
    def __init__(self,x,y):
        self.x = x
        self.y = y

    def where_is(point):
        match point:
            case Point(x=0,y=0):
                print(f"Origin")
            case Point(x=0,y=y):
                print(f"Y={y}")
            case Point(x=x,y=0):
                print(f"X={x}")
            case Point():
                print("Somewhere else")
            case _:
                print("Not a point")
my_point = Point(0,1)

my_point1 = my_point
my_point.where_is()

In [ ]:
class Dog:
    kind = "canine"
    
    def __init__(self,name):
        self.name = name
d = Dog("Fido")
e = Dog('Buddy')

print(f"{d.kind}, {e.kind},{d.name},{e.name}")

d.is_byte = "yes"

print(d.is_byte)

In [ ]:
import keyword

print(keyword.kwlist)

In [ ]:
from math import sqrt,ceil

print(sqrt(25))
print(ceil(3.5))

In [ ]:
Class = 10

In [ ]:
def add_numbers(num1 = 0,num2 = 0):
    return num1+num2
print(add_numbers())
print(add_numbers(num2 = 1,num1 = 2))

In [ ]:
#arbitary argumenst
def find_sum(*numbers):
    result = 0
    try:
        
        for num in numbers:
            result = result + num
    except TypeError:
        print(" found not integer value")
    return result

find_sum(1,2,3,4,"vishva")

In [ ]:
#recursive funtion
def factorial(num):
    if num == 1:
        return 1
    else:
        return (num * factorial(num - 1))

num = 6
print(f"The factorial of {num} is {factorial(num)}")

In [ ]:
#lambda function
greet = lambda : print("Hello world")
greet()

In [ ]:
#lambda function with arguments
greet = lambda x,y : print("Hello world => ", x+y)
greet(10,20)

In [ ]:
s = set()
s.add(10)
s.add(5)
s.add(20)
s.add(1)
s.add(6)
s.add(15)

print(s)

In [ ]:
s.pop()

In [ ]:
list(s)[::]

In [ ]:
s1 = {1,3,5,6,8,9,12,15}

In [ ]:
s.difference(s1)

In [ ]:
s.intersection(s1)

In [ ]:
dir(math)

In [ ]:
math.__name__

In [ ]:
math.__doc__

In [ ]:
math.__loader__

In [ ]:
squres = []
squres = list(map(lambda x: x**2, range(10)))
print(squres)

In [ ]:
result = list(map(lambda x: x**2, range(10)))
print(result)

In [ ]:
squres = [x**2 for x in range(10)]
print(squres)

In [ ]:
[ x+y for x in [1,2,3] for y in [3,1,4] if x != y]

In [ ]:
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

In [ ]:
[row[i] for row in matrix for i in range(4)]

In [1]:
#find the largest number
num1 = input("Enter the 1st number : ")
num2 = input("Enter the 2nd number : ")
num3 = input("Enter the 3rd number : ")
if (num1 > num2) and (num1 > num3):
    print(f"The first number is largest number :{num1} ")
elif (num2 > num1) and (num2 > num3):
    print(f"The second number is largest number :{num2}")
else:
    print(f'The third number is largest number : {num3}')

Enter the 1st number : 10
Enter the 2nd number : 30
Enter the 3rd number : 21
The second number is largest number :30

In [2]:
#find the largest number
num1 = float(input("Enter the 1st number : "))
num2 = float(input("Enter the 2nd number : "))
num3 = float(input("Enter the 3rd number : "))
if (num1 > num2) and (num1 > num3):
    print(f"The first number is largest number :{num1} ")
elif (num2 > num1) and (num2 > num3):
    print(f"The second number is largest number :{num2}")
else:
    print(f'The third number is largest number : {num3}')

Enter the 1st number : 3.5
Enter the 2nd number : 8.1
Enter the 3rd number : 8.15
The third number is largest number : 8.15

In [8]:
#calculator
choice = input("Enter your choice (add/sub/div/mul)")

num1 = int(input("enter the 1st number : "))
num2 = int(input("enter the 2nd number : "))
if choice == "add":
    print(f"The sum of num1 and num2 is {num1+num2}")
elif choice == "sub":
    print(f"The difference of num1 and num2 is {num1-num2}")
elif choice == "div":
    print(f"The division of num1 and num2 is {num1/num2}")
elif choice == "mul":
    print(f"The multifilication of num1 and num2 is {num1*num2}")
else:
    print("wrong choice")

Enter your choice (add/sub/div/mul)exit
enter the 1st number : 20
enter the 2nd number : 10
wrong choice

In [10]:
#example 
designation = input("enter the designation (Executive/Manager/Senior Manager)")

if designation == "Executive":
    print("The salary range for executive is 10000 - 14500")
elif designation == "Manager":
    print("The salary range for Manager is 20000 - 34500")
elif designation == "Senior Manager":
    print("The salary range for senior manager is 50000 - 74500")
else:
    print("Wrong choice")

enter the designation (Executive/Manager/Senior Manager)Senior Manager
The salary range for senior manager is 50000 - 74500

In [12]:
#for loop with default range function (end)
my_list = list()
for i in range(10):
    my_list.append(i)
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
#for loop with default range function (start,end)
my_list = list()
for i in range(1,10):
    my_list.append(i)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
#for loop with default range function (start,end,step)
my_list = list()
for i in range(1,100,7):
    my_list.append(i)
print(my_list)

[1, 8, 15, 22, 29, 36, 43, 50, 57, 64, 71, 78, 85, 92, 99]

In [15]:
#for loop in the list
fruit_list = ['apple','banana','grapes']
for fruit in fruit_list:
    print(fruit)

apple
banana
grapes

In [16]:
#for loop in the tuple
fruit_tuple = ('apple','banana','grapes')
for fruit in fruit_tuple:
    print(fruit)

apple
banana
grapes

In [17]:
#for loop in set
my_set = set()
for i in range(1,100,7):
    my_set.add(i)

In [19]:

for i in list(my_set):
    print(i)

64
1
99
36
71
8
43
78
15
50
85
22
57
92
29

In [21]:
#for loop with dictionary
currency = {"India":"Rupee","US":"US Dollar", "UK":"Bound",
            "Japan":"Yen", "Singapore":"Singapore Dollar"}

for key,value in currency.items():
    print(f"{value} is the currency of {key} ")

Rupee is the currency of India
US Dollar is the currency of US
Bound is the currency of UK
Yen is the currency of Japan
Singapore Dollar is the currency of Singapore

In [24]:
for i in range(5):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [30]:
n = 10
k =  n - 1
for i in range(n):
    for j in range(k):
        print(end=" ")
    k -= 1
    for j in range(i+1):
        print("* ",end="")
    print()

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [26]:
def pyramid_pattern(n):
    if n == 0:
        return
    else:
        pyramid_pattern(n-1)
        print("* "*n)
n = 5
pyramid_pattern(n)

*
* *
* * *
* * * *
* * * * *